container_commands::
  01_migratemyapp:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "chef_buddy_django.settings"
    "PYTHONPATH": "/opt/python/current/app/chef_buddy_django:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: chef_buddy_django/chef_buddy_django/wsgi.py
    NumProcesses: 3
    NumThreads: 20
